* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: center;
  align-items: center;
}

#newbook {
  padding: 10px;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  background-color: skyblue;
  color: black;
}

.shelf {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / 2;
  justify-content: flex-start;
  background-color: antiquewhite;
  border: 6px solid brown;
  width: 800px;
  gap: 3px;
}

.book {
  display: grid;
  font-size: 1.5rem;
  align-items: center;
  color: black;
  padding: 2px;
}

.book h3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25rem;
  writing-mode: vertical-rl;
}

.book h5 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.75rem;
  writing-mode: vertical-rl;
}

.sidebar {
  padding: 10px;
}

form {
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 1rem;
}

input {
  padding: 3px;
  border-radius: 5px;

}

fieldset {
  display: flex;
  padding: 1rem;
  margin: 1rem;
}

#submit-form {
  border: none;
  padding: 3px;
}
