* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: center;
  align-items: center;
}

button {
  padding: 10px;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  background-color: skyblue;
  color: black;
}

.shelf {
  display: grid;
  grid-column: 1 / 2;
  justify-content: start;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  background-color: antiquewhite;
  border: 6px solid brown;
  gap: 3px;
  width: 800px;
  height: 300px;
}

.book {
  display: grid;
  font-size: 1.5rem;
  align-items: center;
  color: black;
  padding: 2px;
  height: 297px;
}

.book h3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25rem;
  writing-mode: vertical-rl;
}

.book h5 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.75rem;
  writing-mode: vertical-rl;
}

.sidebar {
  display: grid;
}

